<!-- Card -->
<div class="card">
  <!-- Card image -->
  <div class="view overlay" style="min-height: 200px; vertical-align: middle;">
    <img class="card-img-top img-response" src="{{service.image}}" alt="Card image cap">
    <!-- <a>
        <div class="mask rgba-white-slight">test</div>
      </a> -->
  </div>

  <!-- Card content -->
  <div class="card-body">

    <!-- Title -->
    <h5 class="card-title">{{service.title}}</h5>
    <!-- <hr> -->
    <!-- Text -->
    <p class="card-text">{{service.text}}</p>
    <!-- <button class="btn btn-indigo btn-rounded btn-md">Read more</button> -->

  </div>
</div>
<!-- Card -->
