<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/home']">NgApp</a>

    <!-- <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault"> -->
      <ul *ngIf="loggedIn()" class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/profile']">Profile</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/services']">Services</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/messages']">Messages</a>
        </li>
      </ul>

      <!--
        https://valor-software.com/ngx-bootstrap/?gclid=EAIaIQobChMIhuTy8_bQ3QIV1JTVCh1haQPuEAAYASAAEgIXi_D_BwE#/dropdowns
        Trigger by tag <a>  -->
      <div *ngIf="loggedIn()" class="dropdown" dropdown>
        <a class="dropdown-toggle" dropdownToggle>
          Welcome {{authservice.userName()}}
        </a>
        <div class="dropdown-menu mt-3" *dropdownMenu>
          <a class="dropdown-item" [routerLink]="['/profile']"><i class="fa fa-user"></i> Edit Profile</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" onclick="return false;" (click)="logout()"><i class="fa fa-sign-out"></i>Logout</a>
        </div>
      </div>

      <form *ngIf="!loggedIn()" #loginForm="ngForm" class="form-inline my-2 my-lg-0" (ngSubmit)="login()">
        <input #username="ngModel" class="form-control mr-sm-2" type="text" name="username" required placeholder="Username"
          [(ngModel)]="model.username" />
        <input #password="ngModel" class="form-control mr-sm-2" type="password" name="password" required placeholder="Password"
          [(ngModel)]="model.password" />
        <button [disabled]="!loginForm.valid" class="btn btn-success my-2 my-sm-0" type="submit">Login</button>
      </form>
    <!-- </div> -->
  </div>
</nav>
